body{
    margin: 0;
    background: black;
    text-align: center;
    min-height: 100%;
}

#content{
    max-width: 85%;
    margin: 0 auto;
    color: white;
}
header{
    background: linear-gradient(141deg, #00db02, #dbd300, #f00010, #c76f00,
    #6700b0, #585fff, #00d7ff);
    background-size: 1000% 1000%;
    animation: GradientAnimation 480s linear infinite;

    text-align: center;
    padding: 10px 0 0 0;

}
header h1{
    font-family: GT Walsheim, sans-serif;
    color: white;
    font-size: 3.5em;
    font-weight: 700;
}

.blackbarheader{

    background: black;
    width: 10%;
    height: 45px;
    display: inline-block;
}

#ThatBit{
    text-align: left;
}
#controls{
    display: inline-block;
    background: white;
    width: 80%;
    color: black;
    padding: 0;
    text-align: left;


    font-family: GT Walsheim, sans-serif;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 800;
}

#field{
    max-width: 1000px;
    margin: 0 auto;
    user-select: none;
}

.colourbox{
    background: white;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 10px;
}


@keyframes GradientAnimation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}